<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
      <div class="row">
        <div id='profile-list' class="col-xs-8 col-sm-6 col-sm-offset-3 col-xs-offset-2 col-md-4 col-md-offset-4">
          <script id="profile-template" type="text/x-handlebars-template">
            <p>{{name}}</p>
            <p><a href='{{githubLink}}'>Github</a></p>
            <p><a href='{{personalSiteLink}}'>Personal Site</a></p>
          </script>
        </div>
      </div>
      <hr>
      <div id="cities-list">
        <script id="cities-template" type="text/x-handlebars-template">
          {{#each cities}}
            <p><b>{{name}}</b> (<i>{{location}}</i>)</p>
            <p>{{description}}</p>
          {{/each}}
        </script>
      </div>
    </div>
  </body>
</html>
